/ParallelProgramming.Lab1.App/bin/
/ParallelProgramming.Lab1.App/obj/
/ParallelProgramming.Lab1.App/config/
/ParallelProgramming.Lab1.GUI/bin/
/ParallelProgramming.Lab1.GUI/obj/
/ParallelProgramming.Lab1.GUI/config/